@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, button {
    font-family: "Fraunces", serif;
}
a, p, blockquote {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: hsl(213, 9%, 39%);
    line-height: 1.6;
}
.content-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(3, minmax(550px, auto)) auto auto;
}
.hero {
    grid-column: 1/3;
    min-height: 710px;
    background: url('images/desktop/image-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 25px;
    position: relative;
}
.hero-text {
    text-align: center;
}
.hero-heading {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 900;
    margin: 55px 0 90px;
    letter-spacing: 10px;
    color: hsl(0, 0%, 100%);
}
.nav-menu ul li {
    display: inline-block;
}
.nav-menu ul li a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    margin-left: 35px;
    padding: 12px 18px;
    border-radius: 25px;
    transition: .5s;
}
.nav-menu ul li a:focus {
    color: hsl(212, 27%, 19%);
    background-color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-family: "Fraunces", serif;
}
.nav-menu ul li a:hover {
    background-color: hsla(0, 0%, 100%, .25);
    text-transform: uppercase;
    font-family: "Fraunces", serif;
}
.menu-icon {
    display: none;
}
.nav-menu-mobile ul li  {
    list-style-type: none;
    margin-bottom: 40px;
}
.nav-menu-mobile ul li a {
    text-decoration: none;
    padding: 12px 18px;
    transition: .4s;
}
.nav-menu-mobile {
    display: none;
    width: calc(100% - 50px);
    background: white;
    position: absolute;
    top: 150px;
    text-align: center;
    padding: 50px 0 10px;    
}
.nav-menu-mobile::before {
    content: "";
    position: absolute;
    top: -49px;
    right: 0;
    border-width: 25px;
    border-style: solid;
    border-color: transparent white white transparent;
}
.nav-menu-mobile ul li a:hover {
    background: hsl(51, 100%, 49%);
    border-radius: 25px;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
}
.service {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr;
    place-content: center;
    padding: 0 20%;
}
.learn-more-btn {
    width: 170px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 4px;
    border: none;
    position: absolute;
    background: none;
    bottom: 2px;
    left: 0;
    cursor: pointer;
}
.service-btn, .brand-btn {
    position: relative;
    height: 30px;
}
.brand-btn::before,
.service-btn::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 170px;
    height: 12px;
    opacity: .4;
    border-radius: 15px;
    transition: .5s;
}
.brand-btn::before {
    background-color: hsl(7, 99%, 70%);
}
.service-btn::before {
    background-color: hsl(51, 100%, 49%);
}
.service-btn:hover::before,
.brand-btn:hover::before {
   opacity: 1;
}
.service h2 {
    font-size: 2.4rem;
    font-weight: 900;
}
.service-brand {
    grid-column: 1/2;
    grid-row: 2/3;
}
.image-stand-out {
    background-image: url('images/desktop/image-stand-out.jpg');
    background-position: center;
    background-size: cover;
}
.image-transform {
    background-image: url('images/desktop/image-transform.jpg');
    background-position: center;
    background-size: cover;
}
.design {
    display: grid;
    grid-gap: 25px;
    place-content: end;
    padding: 50% 20% 50px;
    text-align: center;
}
.design h3 {
    font-size: 1.6rem;
    font-weight: 900;
}
.graphic-design {
    background-image: url('images/desktop/image-graphic-design.jpg');
    background-position: center;
    background-size: cover;
    color: hsl(167, 40%, 24%); 
}
.photography {
    background-image: url('images/desktop/image-photography.jpg');  
    background-position: center;
    background-size: cover;
    color: hsl(198, 62%, 26%);
}
.client-testimonials {
    grid-column: 1/3;
    text-align: center;
    padding: 11% 10%;
}
.client-testimonial-heading {
    margin-bottom: 75px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 900;
    color: hsla(213, 9%, 39%, .5);
}
.testimony-container {
    display: flex;
    gap: 30px;
}
.testimonial {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}
.client-image {
    width: 70px;
    margin: auto;
    border-radius: 50%;
}
.client-position {
    color: hsl(210, 4%, 67%);
    font-weight: 600;
}
.image-gallery {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.image-gallery img {
    width: 100%;
}
footer {
    text-align: center;
    padding: 60px;
    background-color: hsla(168, 34%, 41%, 1);
}
footer a {
    color: hsl(167, 40%, 24%);
    transition: .4s;
    text-decoration: none;
    margin-right: 25px;
}
footer a:hover {
    color: hsl(0, 0%, 100%);
}
.footer-links {
    margin: 30px 0 75px;
}
.footer-links ul li {
    display: inline-block;
    margin-right: 25px;
}
@media (max-width: 700px) {
    .content-section {
        display: block;
    }   
    .nav-menu {
        display: none;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
    .hero-heading {
        font-size: 2rem;
    }
    .design, .service {
        height: 600px;
        padding: 0 10% 50px;
    }
    .brand-btn::before,
    .service-btn::before {
        transform: translateX(-50%);
        left: 50%;
    }
    .service {
        text-align: center;
    }
    .learn-more-btn {
        width: 100%;
    }
    .image-stand-out,
    .image-transform {
        width: 100%;
        height: 400px;
    }
    .testimony-container {
        display: block;
    }
    .client-testimonial-heading {
        font-size: 1rem;
    }
    .testimonial {
        margin-bottom: 50px;
    }
    .testimonial:last-child {
        margin-bottom: 0;
    }
    .image-gallery {
        grid-template-columns: 1fr 1fr;
    }
    footer {
        padding: 15px; 
    }
    footer a {
        font-size: 10px;
    }
    .footer-links {
        margin: 30px 0 40px;
    }
    .footer-links ul li {
        margin-right: 0px;
    }
}